.header{
    text-align: center;
}
.logo{
    height: 50px;
    color: aqua;
}
.header nav {
    background-color: rgb(32, 20, 20);
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
}